div{
    text-align: center;
}
#logo{
    width: 130px;
    height: auto;
}
.navnames{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
}
#row1{
    height: 150px;
    background-color: #1c1c1c;
}
.imeg{
    width: 450px;
    height: auto;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.imeg:hover{
    transform: scale(1.1);
}
.fanknames{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding-top: 15px;
}
#row2{
    height: 850px;
    background-color: rgb(240, 240, 240);
}
.indiv{
    border-radius: 10%;
    background-color: white;
    width: 550px;
    padding-top: 30px ;
    margin: auto;

}
#row3{
    background-color: rgb(240, 240, 240);
}
#order{
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
#row4{
    background-color: #333;
}
#from{
    width: 800px;
}
#us{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
a{
    color: #ccc;
    text-decoration: none;
}
a:hover{
    color: #ccc;
}
#col4{
    padding-top: 50px;
    padding-bottom: 80px;
}
#row5{
padding-top: 20px;
    background-color: rgb(240, 240, 240);
}



*{    
}